In [1]:
import os

In [2]:
%pwd

'/home/rutvik/Documents/Projects/INeuron_Internship/research'

In [3]:
os.chdir("../")

In [4]:
%pwd

'/home/rutvik/Documents/Projects/INeuron_Internship'

In [5]:

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import os
from mlProject import logger
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
data = pd.read_csv('artifacts/data_ingestion/concrete_data.csv')

In [6]:
data.head()
x = data.iloc[:,:-1]
y = data.iloc[:,-1]
x.head()
y.head()

,cement,blast_furnace_slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age,concrete_compressive_strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

,cement,blast_furnace_slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: concrete_compressive_strength, dtype: float64

In [7]:

scaler = StandardScaler()

X_train, x_test,y_train,y_test = train_test_split(x, y,test_size =0.3, random_state = 42)
X_train = scaler.fit_transform(X_train)
        ## Not fit_transform...but transform only bcoz we need to transformed as per train model
x_test = scaler.transform(x_test)
# print(X_train.shape)
# print(y_train.shape)

# print('X_train',X_train)
# print('y_train',y_train)
train = np.hstack((X_train,np.atleast_2d(np.array(y_train)).T))
print(train)
test = np.hstack((x_test,np.atleast_2d(np.array(y_test)).T))
arr = [i for i in data.columns]
train_df = pd.DataFrame(train,columns=arr[:])
test_df = pd.DataFrame(test,columns=arr[:])
train_df.head()
test_df.head()
# print(test)
# print(train.shape)
# print(test.shape)
# print('x_test',x_test)
# print('y_test',y_test) 
# np.vstack((x_test,x_test))

[[-0.8284837  -0.85529604  0.76170123 ...  1.67680283 -0.29298042
  25.72      ]
 [ 0.37482257 -0.85529604 -0.81691314 ...  0.14190356 -0.63384539
  17.54      ]
 [ 0.31756625  1.56893487 -0.81691314 ...  1.35833309 -0.69877204
  25.2       ]
 ...
 [-0.86911722 -0.85529604  1.1496791  ...  0.34047881  0.87569944
  33.56      ]
 [ 1.76005619  0.49999164 -0.81691314 ...  0.12317004 -0.29298042
  68.3       ]
 [ 0.27323877 -0.85529604  0.95804631 ...  0.14190356 -0.29298042
  38.46      ]]

,cement,blast_furnace_slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age,concrete_compressive_strength
0,-0.828484,-0.855296,0.761701,-0.766488,0.227273,0.415545,1.676803,-0.292980,25.72
1,0.374823,-0.855296,-0.816913,0.103748,-1.013995,1.136979,0.141904,-0.633845,17.54
2,0.317566,1.568935,-0.816913,-1.234713,1.352690,-1.551191,1.358333,-0.698772,25.20
3,0.688809,-0.638541,1.397859,-1.315115,0.789982,-0.405309,0.366706,-0.698772,23.64
4,-1.130465,1.312252,1.507813,-0.132729,2.130551,-1.730912,-0.382635,-0.292980,33.76

,cement,blast_furnace_slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age,concrete_compressive_strength
0,-0.170036,0.445233,-0.816913,2.184748,-1.013995,-0.532771,-1.269355,5.177091,52.91
1,0.722054,1.300843,-0.816913,-0.799595,0.905833,-0.370895,-0.197798,-0.633845,55.90
2,0.974167,1.300843,-0.816913,-1.698208,2.627059,-0.370895,-0.197798,-0.292980,74.50
3,0.722054,1.300843,-0.816913,-0.799595,0.905833,-0.370895,-0.197798,-0.698772,35.30
4,-1.287458,-0.855296,1.994748,0.955066,0.310024,-1.909359,1.215958,-0.292980,10.54

In [8]:
# data.columns[:-1]
arr = [i for i in data.columns]
[arr[-1]]

['concrete_compressive_strength']

In [9]:
X_train_df = pd.DataFrame(X_train,columns=arr[:-1])
y_train_df = pd.DataFrame(y_train,columns=[arr[-1]])
# x_test_df = pd.DataFrame(x_test,columns=arr[:-1])
# y_test_df = pd.DataFrame(y_test,columns=arr[-1])
y_train_df.head()

     concrete_compressive_strength
196                          25.72
631                          17.54
81                           25.20
526                          23.64
830                          33.76

# Setup Data Validation

In [10]:
# Entity creation
from dataclasses import dataclass
from pathlib import Path


@dataclass(frozen=True)
class DataTransformationConfig:
    root_dir: Path
    data_path: Path

In [11]:
# Create Configuration entity & manager
from mlProject.constants import *
from mlProject.utils.common import read_yaml, create_directories

In [12]:
class ConfigurationManager:
    def __init__(
        self,
        config_filepath = CONFIG_FILE_PATH,
        params_filepath = PARAMS_FILE_PATH,
        schema_filepath = SCHEMA_FILE_PATH):

        self.config = read_yaml(config_filepath)
        self.params = read_yaml(params_filepath)
        self.schema = read_yaml(schema_filepath)

        create_directories([self.config.artifacts_root])


    
    def get_data_transformation_config(self) -> DataTransformationConfig:
        config = self.config.data_transformation

        create_directories([config.root_dir])

        data_transformation_config = DataTransformationConfig(
            root_dir=config.root_dir,
            data_path=config.data_path,
        )

        return data_transformation_config

In [13]:

#  Create Components
import os
from mlProject import logger
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [14]:
class DataTransformation:
    def __init__(self, config: DataTransformationConfig):
        self.config = config

    
    ## Note: You can add different data transformation techniques such as Scaler, PCA and all
    #You can perform all kinds of EDA in ML cycle here before passing this data to the model

    # I am only adding train_test_spliting cz this data is already cleaned up


    def train_test_spliting(self):
        data = pd.read_csv(self.config.data_path)
        x = data.iloc[:,:-1]
        y = data.iloc[:,-1]
        x.head()
        y.head()
        # Split the data into training and test sets. (0.75, 0.25) split.
        X_train, x_test,y_train,y_test = train_test_split(x, y,test_size =0.3, random_state = 42)
        ## Standardize the Dataset
        scaler = StandardScaler()
        X_train = scaler.fit_transform(X_train)
        ## Not fit_transform...but transform only bcoz we need to transformed as per train model
        x_test = scaler.transform(x_test)
        
        # train, test = train_test_split(data)
        # print('X_train',X_train)
        # print('y_train',y_train)
        # print('x_test',x_test)
        # print('y_test',y_test) 
        train = np.hstack((X_train,np.atleast_2d(np.array(y_train)).T))
        test = np.hstack((x_test,np.atleast_2d(np.array(y_test)).T))
        
        arr = [i for i in data.columns]
        train_df = pd.DataFrame(train,columns=arr[:])
        test_df = pd.DataFrame(test,columns=arr[:])
        # X_train_df = pd.DataFrame(X_train,columns=arr[:-1])
        # y_train_df = pd.DataFrame(y_train,columns=[arr[-1]])
        # x_test_df = pd.DataFrame(x_test,columns=arr[:-1])
        # y_test_df = pd.DataFrame(y_test,columns=[arr[-1]])
        
        # X_train_df.to_csv(os.path.join(self.config.root_dir, "x_train.csv"),index = False)
        # y_train_df.to_csv(os.path.join(self.config.root_dir, "x_test.csv"),index = False)
        # x_test_df.to_csv(os.path.join(self.config.root_dir, "y_train.csv"),index = False)
        # y_test_df.to_csv(os.path.join(self.config.root_dir, "y_test.csv"),index = False)
        train_df.to_csv(os.path.join(self.config.root_dir, "train.csv"),index = False)
        test_df.to_csv(os.path.join(self.config.root_dir, "test.csv"),index = False)
        
        logger.info("Splited data into training and test sets")
        logger.info(train_df.shape)
        logger.info(test_df.shape)
        # logger.info(y_train.shape)
        # logger.info(y_test.shape)

        print(train_df.shape)
        print(test_df.shape)
        # print(x_test.shape)
        # print(y_test.shape)

In [15]:
# pipeline
try:
    config = ConfigurationManager()
    data_transformation_config = config.get_data_transformation_config()
    data_transformation = DataTransformation(config=data_transformation_config)
    data_transformation.train_test_spliting()
except Exception as e:
    raise e

[2024-03-29 17:13:50,080: INFO: common: yaml file: config/config.yaml loaded successfully]
[2024-03-29 17:13:50,083: INFO: common: yaml file: params.yaml loaded successfully]
[2024-03-29 17:13:50,086: INFO: common: yaml file: schema.yaml loaded successfully]
[2024-03-29 17:13:50,089: INFO: common: created directory at: artifacts]
[2024-03-29 17:13:50,091: INFO: common: created directory at: artifacts/data_transformation]
[2024-03-29 17:13:50,118: INFO: 3871968227: Splited data into training and test sets]
[2024-03-29 17:13:50,118: INFO: 3871968227: (721, 9)]
[2024-03-29 17:13:50,119: INFO: 3871968227: (309, 9)]
(721, 9)
(309, 9)